<po-page-default [p-title]="title" [p-breadcrumb]="breadcrumb">
	<p class="po-font-text-large text-color-gray">
		{{ subtitle }}
	</p>
	<form [formGroup]="pedagioForm" class="po-row po-pl-0">
		<div class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-pl-0 po-pr-0 po-pb-2 po-mt-1">
			<po-input
				formControlName="codigo"
				class="po-lg-4"
				name="codigo"
				p-label="Código*"
				[p-show-required]="true"
				p-placeholder="000004"
				[p-maxlength]="6">
			</po-input>

			<po-input
				formControlName="descricao"
				class="po-lg-8"
				name="descricao"
				p-label="Descrição*"
				[p-show-required]="true"
				p-placeholder="Descrição do pedágio">
			</po-input>
		</div>
		<div class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-pl-0 po-pr-0 po-pb-2">
			<po-number
				formControlName="valor"
				class="po-xl-4 po-lg-4 po-md-6 po-sm-12"
				name="valor"
				p-label="Valor*"
				[p-show-required]="true"
				p-placeholder="5,20">
			</po-number>

			<po-datepicker-range
				#vigenciafilterRange
				formControlName="vigencia"
				class="po-xl-4 po-lg-4 po-md-6 po-sm-12"
				name="vigencia"
				p-label="Vigência*"
				(p-change)="setRangeFilter($event)">
			</po-datepicker-range>
		</div>
	</form>
	<div class="po-row po-mt-4" style="justify-content: flex-end">
		<div class="po-pull-right">
			<po-button p-label="Cancelar" p-kind="tertiary" (p-click)="modalCancel.open()"> </po-button>
			<po-button
				*ngIf="isVisibleBtn"
				class="po-ml-1"
				p-label="Salvar e incluir novo"
				(p-click)="savePedagio(true)"
				p-kind="secondary"
				[p-disabled]="!pedagioForm.valid">
			</po-button>
			<po-button
				class="po-ml-1"
				p-label="Salvar"
				(p-click)="editView ? modalConfirmation.open() : savePedagio(false)"
				p-kind="primary"
				[p-disabled]="!pedagioForm.valid">
			</po-button>
		</div>
	</div>

	<p *ngIf="editView" class="po-font-text-large text-color-gray po-mt-4 po-mb-2">Histórico de vigências</p>
	<div *ngIf="editView">
		<po-table
			[p-columns]="columnsTable"
			[p-items]="itemsTable"
			[p-hide-columns-manager]="true"
			[p-sort]="true"
			[p-height]="nHeightMonitor"></po-table>
	</div>
</po-page-default>

<po-modal
	#modalCancel
	p-title="Cancelar"
	[p-primary-action]="confirmCancel"
	[p-secondary-action]="exitCancel"
	[p-hide-close]="true">
	Deseja realmente sair? Irá perder todos os dados não salvos</po-modal
>

<po-modal #modalConfirmation p-title="Histórico de gravação">
	Deseja gerar histórico de gravação dessa alteração?
	<po-modal-footer>
		<po-button p-label="Cancelar" (p-click)="modalConfirmation.close()" p-kind="tertiary"> </po-button>
		<po-button p-label="Não gerar" (p-click)="savePedagio(false, false)"> </po-button>
		<po-button p-label="Gerar histórico" p-kind="primary" (p-click)="savePedagio(false, true)">
		</po-button> </po-modal-footer
></po-modal>

<po-loading-overlay [hidden]="!isShowLoading"></po-loading-overlay>
